[submodule "depends/CxxSwizzle"]
	path = depends/CxxSwizzle
	url = https://gitlab.com/ralismark/CxxSwizzle.git
[submodule "depends/randutils"]
	path = depends/randutils
	url = https://gist.github.com/540829265469e673d045.git
[submodule "depends/fmt"]
	path = depends/fmt
	url = https://github.com/fmtlib/fmt.git
